<header>

</header>
<section class="login__section">
    <div class="text-center">
        <form class="form-signin" action="/login" method="POST">
            <div>
                <img class="mb-4" width="72" height="72" src="/image/main.jpg" alt="">
            </div>
            <div>
                <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
            </div>
            <div>
                <label for="inputEmail" class="sr-only">Email Address</label>
                <div>
                    <input class="form-control mb-2" id="inputEmail" type="email" name="email" required placeholder="Enter Your Email" autofocus>
                </div>
            </div>
            <div>
                <label for="inputPassword" class="sr-only">Password</label>
                <div>
                    <input class="form-control mb-2" id="inputPassword" type="password" name="password" placeholder="Enter Your Password" required />
                </div>
            </div>
            <div>
                <div>
                    <button class="btn btn-primary btn-lg btn-block mb-2" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>

    <div class="text-center">
        <div>
            <p class="mt-3 mb-3 text-muted">© 2019</p>
        </div>
        <div>
            <a href="/register">I Don't Have Any Account.</a>
        </div>
        <div>
            <a href="/">Index Page</a>
        </div>
    </div>
</section>
<footer>

</footer>