@import './partials/search.css';
@import './partials/home.css';
@import './partials/profile.css';
@import './partials/detail.css';
@import './partials/login.css';
@import './partials/register.css';

.index-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-modal__slide{
    width: 100%;
}

.index-modal__btn{
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    width: 32rem;
}