<header>

</header>
<section>
    <div>

    </div>
</section>
<footer>
    <div>
        <div>
            <a href="/home/profile">Profile</a>
        </div>
        <div>
            <a href="/home/search">Search</a>
        </div>
        <div>
            <a href="/logout">Logout</a>
        </div>
    </div>
</footer>